.header__lang-link_active {
  border-bottom: 1px solid white;
  transition: opacity 0.5s ease-in-out;
}

.header__lang-link_active:hover {
  opacity: 0.3;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .header__lang-link_active {
    font-size: 18px;
    line-height: 20px;
  }
}