.cover__title {
	display: flex;
	margin: 0;
	padding: 0;
	max-width: 560px;
	min-width: 288px;
	color: white;
	z-index: 3;
	font-weight: 900;
	font-size: 72px;
	line-height: 76px;
	text-align: center;
	justify-self: center;
	align-self: center;
}

@media screen  and (max-width: 767px) {
	.cover__title {
		line-height: calc(35px + (46 - 35)  * ((100vw - 320px) / (768 - 320)));
		font-size: calc(32px + (42 - 32) * ((100vw - 320px) / (768 - 320)));
		max-width: calc(288px + (560 - 288) * ((100vw - 320px) / (768 - 320)));
	}
}

@media screen and (max-width: 320px) {
	.cover__title {
		line-height: 35px;
		font-size: 32px;
	}
}